# Flutter / Dart
.dart_tool/
.packages
.build/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.iml
*.ipr
*.iws
.pub-cache/
.pub/
pubspec.lock

# Android
android/.gradle
android/local.properties
android/**/GeneratedPluginRegistrant.java
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.idea/
*.iml
